*{
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}
.fondo{
    background-image: url(imagenes/fondo2.jpg);
    height: 110vh;
    background-size: cover;
    background-position: center;
}
h1{
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:  20px 420px;
    
}
.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-width: 50vh;
    
}
.navegacion1{
    width: 15em;
    height: 3em;
    border-radius: 10px;
    border: solid 2px;
    border-color: black;
}
.boton{
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    flex-direction: column;
}
.logo-git{
    width: 32px;
    height: 16px;
    border-radius: 50%;
    float:right
    
    
}
.git{
margin: 0px 550px;  

}  

h4{
    text-align: center;
}

footer{
    background-color: grey;
}
header{
    display:flex;
    justify-content: left;
    
    background-color: grey;
}
.logo{
    justify-content: left;
    align-items: left;
    display: flex;
    width: 80px;
    height: 80px;
}

button{
    border-radius: 8px;
    width: 12em;
    height: 2em;
   
    
}
a[href="mapa.html"]{
    text-decoration: none;
    color: black;
}

