*{
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}
.fondo{
    background-image: url(imagenes/fondo2.jpg);
    height: 110vh;
    background-size: cover;
    background-position: center;
}
h1{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-width: 50vh;
}
.navegacion1{
    width: 15em;
    height: 3em;
}
.boton{
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    flex-direction: column;
}
.logo-git{
    width: 32px;
    height: 16px;
    border-radius: 50%;
    float:right
    
    
}
.git{
margin: 0px 550px;  

}  

h4{
    text-align: center;
}

footer{
    background-color: grey;
}
